{% extends 'base.html.twig' %}

{% block title %}Bienvenue à la cirée de Poulgoazec !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>La criée de Poulgoazec !</h1>
        La criée de Poulgoazec est située sur la commune de
        Plouhinec (29), à proximité de la Pointe du Raz sur la zone
        de pêche Atlantique Nord Est.

    <h3>Qu'est ce qu'une criée ? </h3>
        Une criée est une vente aux enchères d’une production, réservée à
        des professionnels, menée par un directeur de vente appelé « crieur » ;
        avant l’informatisation les enchères étaient annoncées à voix haute.

</div>
{% endblock %}
