<nav class="navbar navbar-expand fixed-top -lg navbar-dark bg-dark ps-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">La Criée de Poulgoazec</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          
          <a class="nav-link" href="{{ path('app_Lots', {'date': date()|date('Y-m-d')}) }}">Lots</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/facture">Facture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info">La criée</a>
        <li class="nav-item">
          <a class="nav-link" href="/equarrissage">Equarrissage</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="pb-5">
</div>